body{
}
#banner{
  width:100%;
}
.principal{
  background#cccccc;
  padding:30px;
}
titulo-principal
paddindg-left:20px
}
.titulo-centralizado{
  text-alling:center;
}
P{
  text-alling:center:
}
#missão{
  font-size:20px;
}
em strong{
  color#:ff0000;
}
itens{
  font-style:italic;
}
.benefícios{
  background:#ffffff;
  padding:20px;
}
ul{
  display:inline-block;
  vertical-aling:top:
  width:20%;
margin-right:15%;
  {
.imagembenefificions}
  width:50%;
}
